@import (inline) "../../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

//colors
@font-color: #414A52;
@blue: #2D72D9;
//@background: #F5F8FF;
//@background: #ECEEF1;
@background: #FFFFFF;
@grey: lighten(@font-color, 50%);
@grey-light: lighten(@grey, 15%);
@red: #ED5565;
@green: #40B771;

@nav-height: 60px;
@foot-height: 40px;

@link-color: @blue;
@danger: @red;
@success: @green;
@primary: @blue;

//variables
@container-width: 980px;
@breakpoint: 750px;
@input-height: 38px;

.pillow {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.hard-shadow {
  -webkit-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

@import "base";
@import "grid";
@import "type";
@import "form";
@import "nav";
@import "foot";
@import "button";
@import "table";
@import "icon";
@import "error";
@import "editor";

@import (inline) "../../node_modules/github-markdown-css/github-markdown.css";