<% include head.ejs %>
<div class="container">

    <div class="error-container">
        <h2 class="center">Error</h2>
    </div>

    <% if(typeof error != 'undefined'){ %>
    <div class="well code error">
        <span><%- error %></span>
    </div>
    <a href="mailto:bioinformatics@tsl.ac.uk?subject=I found a bug with the Punchcard site&body=<%- encodeURI(error) %>"
       class="button primary center" target="_blank"><span data-icon="&#xe010;"></span> Report
        this
        bug</a>
    <% } else { %>
    <p class="center">Something happened... Something bad...</p>
    <% } %>

</div>

<% include foot.ejs %>