<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/main.js"></script>

<footer>
    <div class="container">
        <div class="pull-right">
            <span>By Martin Page</span>
            <a href="http://github.com/wookoouk"><i class="icon icon-social-github medium"></i></a>
            <a href="http://twitter.com/wookoouk"><i class="icon icon-social-twitter medium"></i></a>
        </div>
    </div>
</footer>

</body>
</html>