<footer>
    <div class="container">
        <div class="pull-right">
            <span>By Martin Page</span>
            <a href="http://github.com/wookoouk"><i class="icon fab fa-github medium"></i></a>
            <a href="http://twitter.com/wookoouk"><i class="icon fab fa-twitter medium"></i></a>
        </div>
    </div>
</footer>

<script src="/js/main.js"></script>
<script src="http://analytics.tsl.ac.uk/client.js"></script>
</body>
</html>
