<% include ./head-no-nav.ejs %>

<nav>
    <div class="container">

        <div id="menu-button" class="mobile-button">
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="brand">
            <a href="/">
                <img src="/logo.svg">
                <div class="name"><h1>Punchcard.</h1></div>
            </a>
        </div>


        <div class="links">

            <div>
                <a href="/knowledge"><i class="fa fa-book-open"></i> Knowledge</a>
                <% if(locals.signedInUser){ %>
                <a class="mobile-only" href="/signout"><i class="fa fa-sign-out-alt"></i> Sign out</a>
                <% } %>
            </div>

        </div>

        <div class="user">
            <% if(locals.signedInUser){ %>
            <div class="icon">
                <img src="<%- locals.signedInUser.iconURL %>">
            </div>
            <div class="user-menu hidden">
                <ul>
                    <li>
                        <a href="/signout"><i class="fa fa-sign-out-alt"></i> Sign out</a>
                    </li>
                </ul>
            </div>
            <% } else { %>
            <a href="/signin" class="button primary active-only">Log in</a>
            <% } %>
        </div>
    </div>
</nav>

