<% include head.ejs %>

<div class="container">

    <section>

        <h1 class="center">PunchCard</h1>

        <h3 class="center tag-line">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            mus.</h3>
    </section>

    <section>
        <div class="row">
            <div class="col4">
                <div class="block">
                    <i class="icon-notebook icon-large center"></i>
                    <h3 class="center">Knowledge</h3>
                    <p class="center">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
                </div>
            </div>
            <div class="col4">
                <div class="block">
                    <i class="icon-tag icon-large center"></i>
                    <h3 class="center">Tickets</h4>
                    <p class="center">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum
                        sociis
                        natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
            <div class="col4">
                <div class="block">
                    <i class="icon-list icon-large center"></i>
                    <h3 class="center">To Do</h4>
                    <p class="center">Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                        nibh,
                        ut
                        fermentum
                        massa justo sit amet risus.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h3 class="center">Condimentum Ullamcorper Inceptos Justo Vehicula</h3>
        <p class="center">
            Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget
            quam.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit.
        </p>

        <p class="center">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius
            blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui.
        </p>
    </section>

</div>

<% include foot.ejs %>