<% include ../head.ejs %>

<div class="container">
    <h2 class="center">Knowledge</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Last Edited</th>
        </tr>
        </thead>
        <tbody>
        <% docs.map(function(doc){ %>
        <a href="/knowledge/<%- doc.id %>">
            <tr>
                <td class=""><a href="/knowledge/<%- doc.id %>"><%- doc.title %></a></td>
                <td>
                    <p><%- moment(doc.updatedAt ? doc.updatedAt : doc.createdAt ? doc.createdAt : 'unknown').calendar() %></p>
                    <!--TODO, PURE FILTH!!! FIX THIS IN A LATER RELEASE-->
                </td>
            </tr>
        </a>
        <% }); %>
        </tbody>
    </table>


    <a href="/knowledge/new" class="button success pull-right">New</a>
</div>

<% include ../foot.ejs %>



