<% include ../head.ejs %>

<div class="container">
    <h2 class="center">Knowledge</h2>

    <a href="/knowledge/new" class="button success pull-right">New</a>

    <table class="table">
        <thead>
        <tr>
            <th class="align-left">Name</th>
            <th class="align-right">Last Edited</th>
        </tr>
        </thead>
        <tbody>
        <% docs.map(function(doc){ %>
        <a href="/knowledge/<%- doc.id %>">
            <tr>
                <td class="align-left"><a href="/knowledge/<%- doc.id %>"><%- doc.title %></a></td>
                <td class="align-right">
                    <p><%- moment(doc.updatedAt ? doc.updatedAt : doc.createdAt).calendar() %></p>
                    <!--TODO, PURE FILTH!!! FIX THIS IN A LATER RELEASE-->
                </td>
            </tr>
        </a>
        <% }); %>
        </tbody>
    </table>

</div>

<% include ../foot.ejs %>



